.tema-noche {
    background-color: #110038;
    a{
        color: #FFFFFF;
    }
    .welcome {
        color: #FFFFFF;
        background-image: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
        box-shadow: 0 1px 0 0 #110038;
        font-weight: 400;
    }    
    //cont menu temas
    .mis-guifos{
        color: #FFFFFF;
        &:hover{
            border: 1px dotted #FFFFFF;
        }
        &:active{
            color: #B4B4B4;
        }
        &:visited{
            color: #B4B4B4;
        }
    }
    // contenedores
    .titulo-cont {
        background-image: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);                   
        color: #FFFFFF;
    }
    .contenedor {
        background: #B4B4B4;
        box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;   
    }                   
    .input-buscar {
        background: #FFFFFF;
        border: 1px solid #979797;
        box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
    }
    // bloques        
    .titulo-bloques {
        background: #FFFAFE;
        border: 1px solid #2E32FB;
        box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #110038;                
        color: #110038;
    }
    .hashtag , .hashtag2{
        color: #FFFFFF;
        background-image: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);          
    }
    .barritas{
        background: #999999;
        border: 1px solid #B4B4B4;
    }
    //keyframes
    @keyframes color{
        0%{
            background-color: #999999;;
        }
        100%{
            background-color: #EE3EFE;
        }
    }    
    // botones
    .button-blue {
        background: #2E32FB;
        border: 1px solid #4C2F99;
        box-shadow: inset -2px -2px 0 0 #2124B3, inset 2px 2px 0 0 #FFFFFF;                    
        color: #FFFFFF;
    } 
    .button-rose{
        background: #110038;
        border: 1px solid #B4B4B4;
        box-shadow: inset -1px -1px 0 0 #5C5C5C, inset 1px 1px 0 0 #FFF4FD;
    }
    .button-pink {
        background: #EE3EFE;
        border: 1px solid #110038;
        box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;                    
        color: #FFFFFF;
        &:hover:enabled{
            background: #CE36DB;
            border: 1px solid #110038;
            box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
        }
        &:active{
            background: #CE36DB;
            border: 1px solid #110038;
            box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
        }
        &:disabled{
            background: #B4B4B4;
            border: 1px solid #808080;
            box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
        }
    }
    .button-red{
        background: #FF6161;
        border: 1px solid #110038;
        box-shadow: inset -1px -1px 0 0 #993A3A, inset 1px 1px 0 0 #FFFFFF;
    }
    .button-grey{
        background: #CCCCCC;
        border: 1px solid #808080;
        box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
        &:hover {
            background: #2E32FB;
            border: 1px solid rgba(51,53,143,0.20);
            box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
        }
        &:active {
            background: #2E32FB;
            border: 1px solid rgba(51,53,143,0.20);
            box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
        }
    }
}